.habilidades-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin-top: 0px;
  gap: 32px;
}

.habilidades-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.habilidades {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
}

.habilidades-descricao {
  padding-top: 1rem;
  text-align: center;
}

.habilidade-titulo {
  text-align: left;
  margin-top: 5rem;
}

@media (max-width: 880px) {
  .habilidade {
    width: 100%;
  }
  .habilidade-titulo {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .habilidades-conteiner {
    padding: 0 16px;
    grid-template-columns: 1fr;
  }
  .habilidades h1 {
    margin: 0 auto;
  }
}
